<div  class="list-group">
    <a style="color:rgba(35,45,57,0.8);" href="{% url 'admin-profile' %}" class="list-group-item green"><b>View Profile</b></a>
    <a style="color:rgba(35,45,57,0.8);" href="{% url 'sellers' %}" class="list-group-item green"><b>Sellers</b></a>
    <a style="color:rgba(35,45,57,0.8);" href="{% url 'create-admin' %}" class="list-group-item green"><b>Create Admin</b></a>
    <a style="color:rgba(35,45,57,0.8);" href="{% url 'all_cars' %}" class="list-group-item green"><b>Cars</b></a>
    <a style="color:rgba(35,45,57,0.8);" href="" class="list-group-item green"><b>Add Cars</b></a>
    <a style="color:rgba(35,45,57,0.8);" href="" class="list-group-item green"><b>Ban Seller</b></a>
    <a style="color:rgba(35,45,57,0.8);" href="" class="list-group-item green"><b>Deactivate Car</b></a>
</div>