<div class="list-group">
    <a href="{% url 'admin-profile' %}" class="list-group-item green">View Profile</a>
    <a href="{% url 'sellers' %}" class="list-group-item green">Sellers</a>
    <a href="{% url 'create-admin' %}" class="list-group-item green">Create Admin</a>
    <a href="{% url 'all_cars' %}" class="list-group-item green">Cars</a>
    <a href="" class="list-group-item green">Add Cars</a>
    <a href="" class="list-group-item green">Ban Seller</a>
    <a href="" class="list-group-item green">Deactivate Car</a>
</div>